.fieldborder{
    border : 10px double black;
}
.square,.apple,.snake {
    width: 30px;
    height: 30px;
    display: inline-block;
}
.apple {
    background: red;
    border-radius: 50%;
}
.snake {
    background: brown;
}
.field2{
    height: 30px;
    background-size: 30px 30px;
}
