.square,.apple,.snake {
    width: 30px;
    height: 30px;
    display: inline-block;
    border : 0;
}
.apple {
    background: red;
}
.snake {
    background: violet;
}
.field2{
    height: 30px;
    background: limegreen;
}